﻿
<div data-page="about" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content" style="background:url(images/wanted.jpg)no-repeat center center fixed; background-size:cover;">

        <div class="list-block media-list" style="margin-top:60px;">
            <ul>
                <li style="margin-bottom:10px;">
                    <a href="task.html" class="item-link item-content">
                        <div class="item-media" style="background:url(images/wantedsmall.png) no-repeat center center; background-size:cover; width:77px; height:100px;"><img class="wanted-image"src="images/3v3 icon.png"></div>
                        <div class="item-inner" style="font-family:'MV Boli'">
                            <div class="item-title-row">
                                <div class="item-title" style="text-align:center; font-size:large;">3 v 3 Match</div>
                                <div class="item-after"></div>
                            </div>
                            <div class="item-subtitle">Basketball Touraments</div>
                            <div class="item-text">Start on 23 July 2016</div>
                        </div>
                    </a>
                </li>
                <li style="margin-bottom:10px;">
                    <a href="task.html" class="item-link item-content">
                        <div class="item-media" style="background:url(images/wantedsmall.png) no-repeat center center; background-size:cover; width:77px; height:100px;"><img class="wanted-image" src="images/3v3 icon.png"></div>
                        <div class="item-inner" style="font-family:'MV Boli'">
                            <div class="item-title-row">
                                <div class="item-title" style="text-align:center; font-size:large;">5 v 5 Match</div>
                                <div class="item-after"></div>
                            </div>
                            <div class="item-subtitle">Basketball Touraments</div>
                            <div class="item-text">Start on 23 July 2016</div>
                        </div>
                    </a>
                </li>
                <li style="margin-bottom:10px;">
                    <a href="task.html" class="item-link item-content">
                        <div class="item-media" style="background:url(images/wantedsmall.png) no-repeat center center; background-size:cover; width:77px; height:100px;"><img class="wanted-image" src="images/3v3 icon.png"></div>
                        <div class="item-inner" style="font-family:'MV Boli'">
                            <div class="item-title-row">
                                <div class="item-title" style="text-align:center; font-size:large;">Solo 3-Points Match</div>
                                <div class="item-after"></div>
                            </div>
                            <div class="item-subtitle">Basketball Touraments</div>
                            <div class="item-text">Start on 23 July 2016</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>