﻿
<div data-page="grouplist" class="page">
    <div class="navbar">
        <div class="navbar-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
            <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">
                <form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init" style="padding:0;background:none;">
                    <div class="searchbar-input">
                        <input type="search" placeholder="Search" /><a href="#" class="searchbar-clear"></a>
                    </div>
                </form>
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="searchbar-overlay"></div>
    <div class="page-content" style="background:black;">
        <div class="list-block searchbar-not-found">
            <ul>
                <li>
                    <a id="visitor-open-button" onclick="createGroup()" href="#" class="link" style="border:solid 1px; padding-top:2px; background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                        <i class="fa fa-user-plus fa-2x"></i>Create Group
                    </a>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Nothing found</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-block media-list search-here searchbar-found" style="margin:0;">
            <ul>
                <li>
                    <a href="#" class="button button-big tab-link createGroup" style="border:solid 1px; padding-top:2px; background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                        <i class="fa fa-user-plus fa-2x"></i>Create Group
                    </a>
                </li>
                <li>
                    <a  href="#" class="item-link item-content" style="margin-top:15px;">
                        <div class="item-media" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; width:100px; height:120px;"><img class="group-icon" src="images/1.png" height="70" width="70" /></div>
                        <div class="item-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                            <div class="item-title">
                                <div class="item-title group-name">AQUARIUS</div>
                            </div>
                            <div class="item-subtitle">
                            </div>
                            <!--<div class="item-text group-description">Never Give UP! We are the CHAMPION</div>-->
                            <div class="button join-group">Join</div>
                        </div>
                    </a>
                    <div class="item">
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                        </div>
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item-link item-content"  style="margin-top:15px;">
                        <div class="item-media" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; width:100px; height:120px;"><img class="group-icon" src="images/2.png" height="70" width="70" /></div>
                        <div class="item-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                            <div class="item-title">
                                <div class="item-title group-name">ARIES</div>
                            </div>
                            <div class="item-subtitle">
                            </div>
                            <!--<div class="item-text group-description">Never Give UP! We are the CHAMPION</div>-->
                            <div class="button join-group">Join</div>
                        </div>
                    </a>
                    <div class="item">
                        <div class="row" style="width:100%; height:50px;" >
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                        </div>
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item-link item-content"  style="margin-top:15px;">
                        <div class="item-media" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; width:100px; height:120px;"><img class="group-icon" src="images/3.png" height="70" width="70" /></div>
                        <div class="item-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                            <div class="item-title">
                                <div class="item-title group-name">CANCER</div>
                            </div>
                            <div class="item-subtitle">
                            </div>
                            <!--<div class="item-text group-description">Never Give UP! We are the CHAMPION</div>-->
                            <div class="button join-group">Join</div>
                        </div>
                    </a>
                    <div class="item">
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item-link item-content" style="margin-top:15px;">
                        <div class="item-media" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; width:100px; height:120px;"><img class="group-icon" src="images/4.png" height="70" width="70" /></div>
                        <div class="item-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                            <div class="item-title">
                                <div class="item-title group-name">CAPRICORN</div>
                            </div>
                            <div class="item-subtitle">
                            </div>
                            <!--<div class="item-text group-description">Never Give UP! We are the CHAMPION</div>-->
                            <div class="button join-group">Join</div>
                        </div>
                    </a>
                    <div class="item">
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item-link item-content" style="margin-top:15px;">
                        <div class="item-media" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; width:100px; height:120px;"><img class="group-icon" src="images/5.png" height="70" width="70" /></div>
                        <div class="item-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                            <div class="item-title">
                                <div class="item-title group-name">PISCES</div>
                            </div>
                            <div class="item-subtitle">
                            </div>
                            <!--<div class="item-text group-description">Never Give UP! We are the CHAMPION</div>-->
                            <div class="button join-group">Join</div>
                        </div>
                    </a>
                    <div class="item">
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon-filled" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                        <div class="row" style="width:100%; height:50px;">
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                            <div class="button task col-20"><i class="fa fa-user fa-3x group-user-icon" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>