﻿
<div data-page="about" class="page">
    <!--<div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
    </div>-->
    <div class="navbar">
        <div class="navbar-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
            <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center" style="width:70%;">
                <img src="images/ranking2.png" style="float:left; height:80%; width : 20%;">
                <div style="font-family:'MV Boli'; height:100%; width:100%;">
                    <div style="text-align:left;font-size:x-large; font-weight:800; color:black;">Ranking</div>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content" style="background:black;">
        <!--<div class="list-block media-list inset" style="margin:0; height:15%">
            <ul style="height:100%">
                <li style="height:100%">
                    <a href="#" class="item-link item-content" style="height:100%;background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                        <div class="item-media" style="font-family:'AR BERKLEY'; width:80px; height:100%; border-radius:40px;"><img src="images/ranking2.png" height="30" width="30"></div>
                        <div class="item-inner" style="font-family:'MV Boli'; height:100%; border-radius:30px;">
                            <div class="item-title" style="text-align:center;font-size:large; font-weight:800;">Ranking</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>-->
        <div class="content-block" style="margin:0; padding:10px 0; font-size:large; font-family:'MV Boli'; background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; width:100%;">
            <div class="list-block media-list inset" style="margin:0;">
                <ul class="ranking-table">
                    <li style="margin:0;">
                        <a href="#" class="item-link" style="background:transparent">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:2%;color:#fff;"></div>
                                <div class="item-inner" style="padding-top:30px; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-60">
                                            Group Name
                                        </div>
                                        <div class="group-win col-20">WIN</div>
                                        <div class="group-lose col-20">LOSE</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">1</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/1.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">AQUARIUS</div>
                                        <div class="group-win col-20">20</div>
                                        <div class="group-lose col-20">4</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">2</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/2.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">ARIES</div>
                                        <div class="group-win col-20">18</div>
                                        <div class="group-lose col-20">6</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">3</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/3.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">CANCER</div>
                                        <div class="group-win col-20">16</div>
                                        <div class="group-lose col-20">8</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">4</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/4.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">CAPRICORN</div>
                                        <div class="group-win col-20">14</div>
                                        <div class="group-lose col-20">10</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">5</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/5.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">GEMINI</div>
                                        <div class="group-win col-20">12</div>
                                        <div class="group-lose col-20">12</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">6</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/6.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">LEO</div>
                                        <div class="group-win col-20">10</div>
                                        <div class="group-lose col-20">14</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">7</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/7.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">LIBRA</div>
                                        <div class="group-win col-20">8</div>
                                        <div class="group-lose col-20">16</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">8</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/8.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">PISCES</div>
                                        <div class="group-win col-20">6</div>
                                        <div class="group-lose col-20">18</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">9</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/9.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">SAGITTARIUS</div>
                                        <div class="group-win col-20">4</div>
                                        <div class="group-lose col-20">20</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <a href="#" class="item-link" style="border-radius:15px;background:radial-gradient(circle,saddlebrown,black);">
                            <div class="item-content" style="padding:0">
                                <div class="item-media" style="padding-left:5%;color:#fff;">10</div>
                                <div class="item-inner" style="padding:10px 0 0 0; color:#fff;">
                                    <div class="item-title row">
                                        <div class="col-20">
                                            <img src="images/10.png" style="float:left; height:100%; width : 100%;">
                                        </div>
                                        <div class="col-40">SCORPIO</div>
                                        <div class="group-win col-20">2</div>
                                        <div class="group-lose col-20">22</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>