
<div data-page="searchbar" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Search Bar</div>
      <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  <form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init">
    <div class="searchbar-input">
      <input type="search" placeholder="Search"/><a href="#" class="searchbar-clear"></a>
    </div>
  </form>
  <div class="searchbar-overlay"></div>
  <div class="page-content">
    <div class="list-block searchbar-not-found">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Nothing found</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block search-here searchbar-found">
      <ul>
        <li class="item-content">
          <div class="item-inner"> 
            <div class="item-title">Acura</div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>