﻿
<div data-page="about" class="page">
    <div class="navbar">
        <div class="navbar-inner" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
            <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center" style="color:black; font-family:'MV Boli'">TASK</div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content" style="background:black;">
        <div class="list-block media-list inset" style="margin:0; height:20%">
            <ul>
                <li>
                    <a href="#" class="item-link item-content" style="background:url(images/paper2.jpg) no-repeat; background-size:100% 100%;">
                        <div class="item-media" style="margin:15px; font-family:'AR BERKLEY'; border:black solid 2px; background:url(images/paper.jpg) no-repeat; background-size:100% 100%; width:80px; height:80px; border-radius:40px;"><img src="images/3v3 icon.png" height="80" width="80"></div>
                        <div class="item-inner" style="margin:20px 5px; font-family:'MV Boli'; border:black solid 2px; background:url(images/paper.jpg) no-repeat; background-size:100% 100%; border-radius:30px;">
                            <div class="item-title" style="text-align:center;font-size:large; font-weight:800;">3 V 3 Match</div>
                            <div class="item-subtitle" style="text-align:center;font-size:medium; font-weight:500;">Basketball Touraments</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-block" style="margin:0; padding:30px; font-size:large; font-family:'AR BERKLEY'; background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; height:60%; width:100%;">
            Task Description Here... <br />
            Requirement :<br />
            1) 3 Person in Game <br />
            2) 30 Points to win Game <br />
            3) 30 minutes Game Duration
        </div>
        <div class="content-block" style="margin:0;padding:0; font-size:large; font-family:'AR BERKLEY'; background:url(images/paper2.jpg) no-repeat; background-size:100% 100%; height:20%; width:100%;">
            <div class="row no-gutter" style="height:100%">
                <div class="button task col-33">
                    <a href="#">
                        <img src="images/reward2.png" height="60" width="60" style="padding-top:20px">
                    </a>
                </div>
                <div class="button task col-33">
                    <a href="ranking.html">
                        <img src="images/ranking2.png" height="60" width="60" style="padding-top:20px">
                    </a>
                </div>
                <div class="button task col-33">
                    <a href="grouplist.html">
                        <img src="images/start2.png" height="60" width="60" style="padding-top:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>